body {
  font-family: "Montserrat Alternates", sans-serif;
}
h1,
h2 {
  text-shadow: 3px 3px #83c5ebcf;
}
h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 3em;
  color: #2d98f6;
}
h2 {
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 2px 2px #a9d3eccf;
}

a,
a:hover {
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
}

p {
  text-align: center;
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 3px 3px #a9d3eccf;
  margin-bottom: 0rem;
}
.container {
  margin: 20px auto;
}
.card-border {
  margin-bottom: 1rem !important;
}
.card-body,
.card {
  background: linear-gradient(rgb(227, 250, 255), rgb(62, 185, 237));
}
.weekday-temp {
  text-align: right;
}
#wholepage {
  position: absolute;
  margin: 0px;
  width: 100%;
}
#search-button {
  color: #ffffff;
  border-color: #2d98f6;
  background-color: #2d98f6;
  transition: all 200ms ease-in-out;
}
#search-button:hover {
  color: #ffffff;
  border-color: #0b5ed7;
  background: #0b5ed7;
}
#current {
  color: #ffffff;
  border-color: #2d98f6;
  background-color: #2d98f6;
  transition: all 200ms ease-in-out;
}
#current:hover {
  color: #ffffff;
  border-color: #2d98f6;
  background-color: #2d98f6;
  transition: all 200ms ease-in-out;
}
.row {
  --bs-gutter-x: 1rem;
}
.source-link {
  text-align: center;
  font-size: small;
}
.temperature {
  text-align: center;
  font-size: 4.5em;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 3px 3px #a9d3eccf;
}
.units {
  position: relative;
  font-size: 16px;
  top: 25px;
}
.active {
  color: #2d98f6;
  cursor: default;
}
.active:hover {
  color: #2d98f6;
  text-decoration: none;
}

ul {
  position: relative;
  top: 20px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  color: #ffffff;
}
.weekdays,
.weekday-temp {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2em;
  color: #ffffff;
  text-shadow: 3px 2px #83c5ebcf;
}
#github {
  text-decoration: none;
  color: #2d98f6;
}
